.add-new-button-holder
    float: right
    margin-top: -3px

.go-to-rooms
    margin-top: -15px
    width: 250px
    float: right

[dir] .calendar-style .DateRangePicker__Date
    padding: 10px 0 !important
    border: 0 !important

.remove-button
    margin-left: 20px

.modal-content
    min-width: 300px
    text-align: center

.modal-actions
    margin-top: 20px
    display: flex
    justify-content: center

    & button:last-child
        margin-right: 0

.button.wide
    width: 100%

button[disabled]
    opacity: 0.6
    pointer-events: none

.seasons-calendar-link
    margin-top: 10px

.seasons-table-row
    display: flex
    justify-content: space-between

.seasons-remove-icon
    cursor: pointer

.dropdown.select
    overflow: hidden auto

.settings.block section
    position: relative

.settings.block .breadcrumbs
    position: absolute
    top: -50px
    width: 100%
    margin: 0

.settings.block h2
    margin: 80px 0 40px

.align-items-center
    align-items: center

.justify-content-space-between
    justify-content: space-between

.position-relative
    position: relative

.remove-picture-icon
    position: absolute
    right: -30px
    top: 50px
    cursor: pointer

h3
    padding: 10px 0 15px
    font-weight: 700
    text-transform: uppercase

.modal-scroll
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center

.rates-link
    margin-right: 20px

.modal.confirm
    max-width: unset

.bullet
    padding: 0 3px
    &::after
        content: '•'

.rotate-45-deg
    transform: rotate(45deg)
