[dir] .calendar-style .DateRangePicker__Date
    padding: 10px 0 !important
    border: 0 !important

.remove-button
    margin-left: 20px

.modal-content
    min-width: 300px
    text-align: center
    label
        text-align: left

.modal-actions
    margin-top: 20px
    display: flex
    justify-content: center

    & button:last-child
        margin-right: 0

.button.wide
    width: 100%

button[disabled]
    opacity: 0.6
    pointer-events: none

.seasons-calendar-link
    margin-top: 10px

.seasons-table-row
    display: flex
    justify-content: space-between

.dropdown.select
    overflow: hidden auto

footer
    margin-top: 0

.settings.block
    display: flex
    min-width: 1100px
    max-width: 1600px
    margin: 0

.settings.block
    display: flex
    min-width: 1100px
    max-width: 1600px
    margin: 0
    &.cabinet
        display: block
        max-width: 1100px
        margin: 0 auto

.settings.block section
    position: relative
    margin: 0
    width: 100%
    max-width: none

.settings.block > section
    padding: 0 50px 35px

.settings.block .breadcrumbs
    position: absolute
    top: -50px
    width: 100%
    margin: 0

.settings.block h2
    margin: 80px 0 40px

.align-items-center
    align-items: center

.justify-content-space-between
    justify-content: space-between

.position-relative
    position: relative

.remove-picture-icon
    position: absolute
    right: -30px
    top: 50px
    cursor: pointer

h3
    padding: 10px 0 15px
    font-weight: 700
    text-transform: uppercase

.modal-scroll
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center

.modal.confirm
    max-width: unset

.bullet
    padding: 0 3px
    &::after
        content: '•'

.default-pointer
    cursor: default !important

.no-border
    border: none !important

.width-none
    width: unset

.no-margin
    margin: unset !important

.icon
    &.icon-expand, &.icon-expand-rotate
        background-image: url("./icons/expand.svg")
    &.icon-expand
        transform: rotate(180deg)
    &.icon-add
        background-image: url("./icons/add.svg")
        width: 60px
        height: 60px

.account
    .submit-holder
        padding-bottom: 100px
