.room-link
    &-container
        .button
            padding: 10px
    &:hover
        color: #f9a61b

.availability-calendar
    .cell
        &.value-stopSale
            .value
                background: #ffdfdf
                padding: 0 3px
        &.value-allotment
            .value
                background: #f2f2f2
                padding: 0 3px
        &.value-framedFreeSale
            .value
                background: #fff7dd
                padding: 0 3px
        &.value-freeSale
            .value
                background: #ffffff