.calendar-table
    margin-top: -30px
    .calendar
        .month
            h2
                margin: 30px 0 20px
                text-transform: none
                text-align: center
            table
                width: 100%
                border-spacing: 0
                border-collapse: collapse
                border: 1px solid #eee
                user-select: none
                table-layout: fixed
            td
                padding: 10px
                width: 14.3% !important
                vertical-align: top
            tr, td
                border: 0 !important
            th
                text-align: left
                padding: 6px 10px
                line-height: 28px
                font-weight: 500
                font-size: 16px
                color: #979797
            td
                background: #fbfbfb
            .cell
                border: 1px solid #eee !important
                margin: 0
                background: #fff
                cursor: pointer
                padding: 10px
                height: 80px
                strong
                    font-weight: 500
                &:hover
                    background: #FFFAF3
                &.changed
                    // border-left-color: #333 !important
                    strong
                        font-weight: 700
                        color: $color-brand
                &.selected
                    background: #F5F9FA !important
                &-container
                    display: flex
                    height: 100%
                    flex-direction: column
                    justify-content: space-between
            .value
                font-size: 11px
    .selector-wrapper
        z-index: 1
        position: sticky
        top: 20px
        transform: translateX(-50%)
        width: 500px
        height: 100px
        padding: 5px 15px 15px 15px
        background: #ffffff
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
        border-radius: 10px
        margin: -80px 0 -20px 443px
        button
            float: right
            margin-top: 10px
            position: relative
            z-index: 1

    .submit-wrapper
        z-index: 1
        position: sticky
        bottom: 20px
        transform: translateX(-50%)
        width: 350px
        height: 64px
        padding: 10px
        background: #ffffff
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
        border-radius: 10px
        margin: 20px 0 -84px 443px
